<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>306408833046-4v4f5cq6rosup46bmufg4j2sds4n9cag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306408833046-4v4f5cq6rosup46bmufg4j2sds4n9cag</string>
	<key>API_KEY</key>
	<string>AIzaSyDjiOJGmIHN11PM7QSVANsHZ_cy7sp37LA</string>
	<key>GCM_SENDER_ID</key>
	<string>306408833046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Firebase.ATMessager</string>
	<key>PROJECT_ID</key>
	<string>atmessager</string>
	<key>STORAGE_BUCKET</key>
	<string>atmessager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:306408833046:ios:dcc974b2011b9794</string>
	<key>DATABASE_URL</key>
	<string>https://atmessager.firebaseio.com</string>
</dict>
</plist>